{% extends "base.html"%}
{% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">

      <div class="col-lg-12">
      <div class="card card-secondary mb-4">
            <div class="card-body d-lg-flex  justify-content-between">
               
            <div class="font-weight-semibold">Semester Registration</div>
            <div class="font-weight-semibold"><button type="button" class="btn btn-rounded btn-info" title="Add">Add Registration</button></div>
            </div>
        </div>

        <div class="card card-secondary mb-4">
                <div class="card-body d-lg-flex  justify-content-between">

                <div class="row">
                     
                    
                        <div class="col-lg-3">
                            <div class="form-group-lg select2">
                                <label class="font-weight-bold">Academic Term*</label>
                                <select class="js-example-basic-single" style="width:100%">
                                    <option value="AL">14-Chem. Engg.</option>
                                    <option value="WY">14-Chem. Engg.</option>
                                    <option value="AM">18-C.S.E</option>
                                    <option value="CA">21-Ec. Engg.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group-lg select2">
                                <label class="font-weight-bold">Program Term*</label>
                                <select class="js-example-basic-single" style="width:100%">
                                <option value="AL">Theory Teacher's Assessment</option>
                                    <option value="WY">Theory Class Test</option>
                                    <option value="AM">Theory Final</option>
                                    <option value="CA">Practical Internal Committee</option>
                                    <option value="CA">Practical External Committee</option>
                                    <option value="AM">Sessional Internal</option>
                                    <option value="CA">Sessional  External Committee</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group-lg select2">
                                <label class="font-weight-bold">Institute</label>
                                <select class="js-example-basic-single" style="width:100%">
                                    <option value="AL">113 gp chopra</option>
                                    <option value="WY">113 gp chopra</option>
                                    <option value="AM">113 gp chopra</option>
                                    <option value="CA">113 gp chopra</option>
                                    <option value="RU">113 gp chopra</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group-lg select2">
                                <label class="font-weight-bold">Program</label>
                                <select class="js-example-basic-single" style="width:100%">
                                    <option value="AL">Theory Teacher's Assessment</option>
                                    <option value="WY">Theory Class Test</option>
                                    <option value="AM">Sessional Internal</option>
                                    <option value="CA">Practical Progressive Assessment</option>
                                    
                                </select>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
                </div>
            </div>

      </div>
    </div>
</div>
{% endblock %}